version: 2.1

executors:
  dotnet-core-sdk:
    docker:
    - image: mcr.microsoft.com/dotnet/sdk:8.0
      auth:
        username: $DOCKER_LOGIN
        password: $DOCKER_ACCESSTOKEN

jobs:
  build-app:
    executor: dotnet-core-sdk
    steps:
      - checkout
      - run:
          name: Build
          command: dotnet build

  publish-nuget:
    executor: dotnet-core-sdk
    steps:
      - checkout
      - run:
          name: Push to NuGet
          command: |
            cd src/DawaAddress
            dotnet pack -o ./publish --no-dependencies -c Release -p:PackageVersion=${CIRCLE_TAG}
            dotnet nuget push --source "${NUGET_FEED_URL}" --api-key="${NUGET_KEY}" "./publish/*.nupkg"

workflows:
  build-test-publish_nuget:
    jobs:
      - build-app:
          filters:
            tags:
              only: /.*/
      - test-app:
          requires:
            - build-app
          filters:
            tags:
              only: /.*/
      - publish-nuget:
          context: nuget
          requires:
            - test-app
          filters:
            tags:
              only: /^[0-9].*/
            branches:
              ignore: /.*/
